@using Microsoft.AspNet.Identity
@using Uoko.FireProj.DataAccess.Query
@{
    ViewBag.Title = "任务列表";

}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Task")">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Task")">任务列表</a>
        </li>
    </ul>
</div>

<div class="row" ng-controller="TaskController">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">

                <div class="caption">
                    <i class="fa fa-github"></i>任务列表
                </div>
                <div class="tools">
                    <a href="javascript:;" class="reload" data-original-title="" title="刷新" ng-click="Query()"></a>
                </div>
                <div class="actions">
                    <a href="@Url.Action("Create", "Task")" class="btn btn-default btn-sm">
                        <i class="fa fa-plus"></i> 创建任务
                    </a>
                </div>
            </div>
            <div class="portlet-body">

                <div class="row" style="height:24px;line-height:24px;">
                    <div class="col-md-6 col-sm-6">
                        <a href="javascript:;" ng-click="Query('@TaskQuery.QueryType.ShowAll')">全部</a>
                        <a href="javascript:;" ng-click="Query('@TaskQuery.QueryType.CreatorFocus')">我的</a>
                        <a href="javascript:;" ng-click="Query('@TaskQuery.QueryType.QaFocus')">@@我的</a>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label for="form_control_1">任务名称：
                            <input type="text" class="form-control  input-inline" id="form_control_1" ng-model="search" ng-keypress="Query()">
                        </label>
                    </div>  
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th rowspan="2">任务名称</th>
                            <th rowspan="2">项目</th>
                            <th rowspan="2">分支</th>
                            <th colspan="2">IOC</th>
                            <th colspan="2">Pre</th>
                            <th colspan="3">Online</th>
                            <th rowspan="2">发起人</th>
                            <th rowspan="2">最后操作人</th>
                            <th rowspan="2">操作</th>
                        </tr>
                        <tr>
                            <th>部署</th>
                            <th>测试</th>
                            <th>部署</th>
                            <th>测试</th>
                            <th>上线版本</th>
                            <th>部署</th>
                            <th>测试</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="task in taskInfos">
                            <td><a class="text-primary" href="/Task/Detail?taskId={{task.TaskInfo.Id}}">{{task.TaskInfo.TaskName}}</a> </td>
                            <td>{{task.ProjectName}}</td>
                            <td>{{task.TaskInfo.Branch}}</td>
                            <td title="{{(task.DeployInfoIoc.DeployStatus | DeployStatusFilter).Title}}">
                                <div ng-if="task.DeployInfoIoc">
                                    <span ng-class="(task.DeployInfoIoc.DeployStatus | DeployStatusFilter).IconClass" ></span>
                                </div>
                            </td>
                            <td title="{{task.IocTestAllPassed ? '测试全部通过' : ''}}">
                                <span class="glyphicon glyphicon-ok" ng-if="task.IocTestAllPassed"></span>
                            </td>
                            <td title="{{(task.DeployInfoPre.DeployStatus | DeployStatusFilter).Title}}">
                                <span ng-class="(task.DeployInfoPre.DeployStatus | DeployStatusFilter).IconClass" ng-if="task.DeployInfoPre" ></span>
                            </td>
                            <td title="{{task.PreTestAllPassed ? '测试全部通过' : ''}}">
                                <span class="glyphicon glyphicon-ok" ng-if="task.PreTestAllPassed"></span>
                            </td>
                            <td>
                                <a ng-if="task.OnlineTaskInfo" ng-href="@Url.Action("Detail", "Online")?taskId={{task.OnlineTaskInfo.Id}}" ng-bind="task.OnlineTaskInfo.OnlineVersion"></a>
                            </td>
                            <td title="{{(task.OnlineTaskInfo.DeployStatus | DeployStatusFilter).Title}}">
                                <span ng-class="(task.OnlineTaskInfo.DeployStatus | DeployStatusFilter).IconClass" ng-if="task.OnlineTaskInfo"></span>
                            </td>
                            <td title="{{task.OnlineTestAllPassed ? '测试全部通过' : ''}}">
                                <span class="glyphicon glyphicon-ok" ng-if="task.OnlineTestAllPassed"></span>
                            </td>
                            <td title="{{task.TaskInfo.CreateDate | date:'yyyy-MM-dd HH:mm:ss'}}">{{task.TaskInfo.CreatorName}}</td>
                            <td title="{{task.TaskInfo.ModifyDate | date:'yyyy-MM-dd HH:mm:ss'}}">{{task.TaskInfo.ModifierName}}</td>
                            <td>
                                <div>
                                    <a class="btn btn-success btn-xs" ng-if="!task.TaskInfo.OnlineTaskId && task.TaskInfo.CreatorId == @ViewBag.UserId" ng-click="Deploy(task)">部署到...</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="Query()" first-text="首页" last-text="末页"
                                            previous-text="上一页" next-text="下一页" items-per-page="pageSize" max-size="5" boundary-links="true" boundary-link-numbers="true" rotate="false"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->

    </div>
</div>
@section Scripts {
    <script src="~/app/services/CommonService.js"></script>
    <script src="~/app/services/ProjectService.js"></script>
    <script src="~/app/services/TaskService.js"></script>
    <script src="~/app/filters/CommonFilter.js"></script>
    <script src="~/app/controllers/TaskList.js"></script>
    <script src="~/app/modals/Deploy.js"></script>
}


